{% extends "base.html" %}

{% block title %}About - GrapeGuide{% endblock %}

{% block content %}
<!-- <div class="jumbotron mt-4">
    <h1 class="display-4">About GrapeGuide</h1>
    <p class="lead">Learn more about GrapeGuide and our mission to help you find the perfect wine.</p>
    <hr class="my-4">
    <p>We are dedicated to providing the best wine recommendations and information.</p>
</div> -->
<div class="container p-3 mt-4 text-center">
    <h1 class="mb-5">Your Guide To Wines That Pair Perfectly</h1>
    <h3 class="mb-5">With You And Your Food</h3>

    <div class="image-container mt-5">
        <img src="{{ url_for('static', filename='images/Overview.png') }}" class="img-fluid rounded" style="max-width: 100%; height: auto; border-radius: 15px;">
    </div>
</div>

<div class="container p-3">
    <h2 class="mb-5 text-center">Our Features</h2>

    <div class="feature mb-5 mt-5">
        <div class="row align-items-center">
            <div class="col-md-3">
                <img src="{{ url_for('static', filename='images/Food.png') }}" class="img-fluid rounded" alt="Food Pairing" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-9">
                <h4>Food Pairing</h4>
                <p>Discover the perfect wines to complement your favorite dishes. Find wines that pair perfectly with meat, fish, poultry, cheese, and vegetables. <br><br>
                We leveraged Hugging Face's zero-shot classification to analyze wine descriptions and identify which dishes pair best with each wine. For every wine, the model assigns a relevance score to various dish categories, such as meat or fish, and the dish with the highest score is selected as the ideal pairing. This approach not only provides accurate and diverse food pairings but also enables users to filter wines based on specific dish types, enhancing the overall search experience.</p>
            </div>
        </div>
    </div>

    <hr style="border: 1px solid #9d36add5;">


    <div class="feature mt-5 mb-5">
        <div class="row align-items-center">
            <div class="col-md-9">
                <h4>Search & Filter</h4>
                <p>Our Search & Filter feature empowers users to find the ideal wine to complement their meals with ease. By utilizing the search bar, users can enter specific queries related to their preferences, allowing the system to search our extensive database for matching wines. <br><br>
                    In addition to search queries, users can apply various filters, such as price, region, volume, ABV (alcohol by volume), and style. This enables users to narrow down their options based on individual tastes and requirements. The resulting wines displayed are carefully curated to meet the specified criteria, ensuring a seamless and personalized wine selection experience.</p>
            </div>
            <div class="col-md-3">
                <img src="{{ url_for('static', filename='images/Search and Filter.png') }}" class="img-fluid rounded" alt="Search & Filter" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <hr style="border: 1px solid #9d36add5;">

    <div class="feature mb-5 mt-5">
        <div class="row align-items-center">
            <div class="col-md-3">
                <img src="{{ url_for('static', filename='images/Types.png') }}" class="img-fluid rounded" alt="Types of Wines" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-9">
                <h4>Types of Wines</h4>
                <p>On our homepage, users can easily choose from various wine types, such as red, white, and rosé. Once a user selects a specific type of wine, they are presented with a curated list of all wines in our database that fall under the chosen category. This intuitive navigation allows users to effortlessly explore their preferred wine styles and discover new favorites.</p>
            </div>
        </div>
    </div>

    <hr style="border: 1px solid #9d36add5;">

    

    <div class="feature mb-5 mt-5">
        <div class="row align-items-center">
            <div class="col-md-9">
                <h4>Random Wines of the Day</h4>
                <p>On our homepage, we feature an exciting "Wines of the Day" section, where users can explore three randomly selected wines that change daily. Each day, a new selection of wines is showcased. This feature encourages discovery by presenting fresh options regularly, inspiring users to try something new and broaden their wine preferences.</p>
            </div>
            <div class="col-md-3">
                <img src="{{ url_for('static', filename='images/Wine of the Day.jpg') }}" class="img-fluid rounded" alt="Random Wine Carousel" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <hr style="border: 1px solid #9d36add5;">

    <div class="feature mb-5 mt-5">
        <div class="row align-items-center">
            <div class="col-md-3">
                <img src="{{ url_for('static', filename='images/Guide.png') }}" class="img-fluid rounded" alt="Types of Wines" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-9">
                <h4>Guide</h4>
                <p>Our Guide feature provides users with a personalized way to search for wines based on their individual preferences. Whether it's pairing a wine with a specific dish or filtering by type or price, the guide helps narrow down the options with ease. This streamlined approach reduces the cognitive load, making it simple for users to discover the perfect wine without needing extensive wine knowledge.</p>
            </div>
        </div>
    </div>

    <h2 class="mb-5 text-center">Our Dataset</h2>
    <p>The dataset used for GrapeGuide comes from <a href="https://www.kaggle.com/" target="_blank" style="color: #9d36add5; font-weight: bold;">kaggle.com</a>. The specific dataset is the <a href="https://www.kaggle.com/datasets/elvinrustam/wine-dataset" target="_blank" style="color: #9d36add5; font-weight: bold;">'Wine Dataset'</a> dataset from the user <a href="https://www.kaggle.com/elvinrustam" target="_blank" style="color: #9d36add5; font-weight: bold;">Elvin Rustamov</a>. To find out the reliability of the dataset, Elvin was contacted via LinkedIn to ask how he had obtained the dataset. Elvin said that he had used a scraper to scrape the information about different wines from the Majestic Wines website. <br><br>

        The original dataset on Kaggle contains 17 unique columns and 1289 unique wines. To ensure the quality of the dataset for use in GrapeGuide, wines that have an empty cell in one of the following columns were dropped: 'Title', 'Description', 'Price', 'Capacity', 'Grape', 'Closure', 'Country', 'Unit', 'Characteristics', 'Type', 'ABV', 'Region', 'Style', 'Vintage'. It was deliberately chosen to keep wines with an empty cell in the columns 'Secondary Grape Varieties' and 'Appellation'. In addition to checking for empty fields, the dataset was also checked for duplicate wines. Three duplicate wines were found, but they have different volumes. It was therefore decided to keep these duplicate wines in the dataset.<br><br>
        
        To further expand the dataset, machine-learning (zero-shot classification) was applied to match wines with a type of dish that the wine goes well with: meat, poultry, cheese, fish, and vegetables. Furthermore, the dataset has been expanded with images of the wines. These images were obtained by using a scraper to search for the name of the wine via Google Images. The images found were added to the dataset. Subsequently, it was manually checked whether the images matched the style of the average image. For images that did not match, images that did match were manually searched for. If no good images could be found manually either, the wine was dropped from the dataset.<br><br>
    </p>
</div>

{% endblock %}