{% extends "base.html" %}

{% block title %}Home - GrapeGuide{% endblock %}

{% block content %}

<style>
        body {
        margin: 0; 
        background-image: url("{{ url_for('static', filename='images/background.jpg') }}");
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        height: 100vh; 
    }
        .welcome-container {
        height: 100vh; 
        display: flex; 
        justify-content: flex-start; 
        align-items: flex-start;
        padding: 160px 20px; /* position of text */
        color: white; 
    }

    .bg-light {
        background-color: transparent !important;
    }

    .nav-link {
        color: #9d36add5 !important;
    }

    .card {
        border: none;
        border-radius: 15px;
        transition: transform 0.3s, box-shadow 0.3s;
        display: flex;
        flex-direction: column;
        height: 100%;
        text-decoration: none;
        color: inherit;
        background-color: #ffffff; /* Set card background to white */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Consistent box-shadow for all cards */
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Consistent hover shadow for all cards */
        cursor: pointer;
        color: #9d36add5;
    }

    .image-container {
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-img-top {
        object-fit: contain;
        width: auto;
        height: 100%;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        text-align: center;
    }

    .emoji {
        font-size: 3rem;
    }
</style>

<!-- Welcome section -->
<div class="welcome-container">
    <h1>Welcome to GrapeGuide</h1>
</div>

<div class="container mt-4">
    <div class="text-center"><h5>Type of wine</h5></div>
    <div class="row justify-content-center">
        <!-- Wine Cards with consistent shadow -->
        <!-- Card 1 -->
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <a href="/wines?search=&sort=default&country=&region=&type=Red&price_min=&price_max=&abv_min=&abv_max=&grape=&style=&vintage=&closure=&capacity=&secondary_grape_varieties=&unit=&characteristics=&per_bottle_case_each=&lead=Red Wines" class="card h-100">
                    <div class="image-container mt-4">
                        <img src="{{ url_for('static', filename='images/Rood.jpg') }}" class="img-fluid rounded" alt="Types of Wines" style="max-width: 100%; height: auto;">
                    </div>
                    <div class="card-body">
                        <h6 class="font-weight-bold">Red wine</h6>
                    </div>
                </a>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <a href="/wines?search=&sort=default&country=&region=&type=White&price_min=&price_max=&abv_min=&abv_max=&grape=&style=&vintage=&closure=&capacity=&secondary_grape_varieties=&unit=&characteristics=&per_bottle_case_each=&lead=White wines" class="card h-100">
                    <div class="image-container mt-4">
                        <img src="{{ url_for('static', filename='images/Wit.jpg') }}" class="img-fluid rounded" alt="Types of Wines" style="max-width: 100%; height: auto;">
                    </div>
                    <div class="card-body">
                        <h6 class="font-weight-bold">White wine</h6>
                    </div>
                </a>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <a href="/wines?search=&sort=default&country=&region=&type=Ros%C3%A9&price_min=&price_max=&abv_min=&abv_max=&grape=&style=&vintage=&closure=&capacity=&secondary_grape_varieties=&unit=&characteristics=&per_bottle_case_each=&lead=Rose Wines" class="card h-100">
                    <div class="image-container mt-4">
                        <img src="{{ url_for('static', filename='images/Rose.jpg') }}" class="img-fluid rounded" alt="Types of Wines" style="max-width: 100%; height: auto;">
                    </div>
                    <div class="card-body">
                        <h6 class="font-weight-bold">Rose wine</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="text-center"><h5>Best paired with</h5></div>
    <div class="row justify-content-center">
        <!-- "Best paired with" Cards -->
        <!-- Card 1 -->
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <a href="/wines?search=&sort=&price_min=&price_max=&pairing=meat&country=&type=&grape=&vintage=&region=&secondary_grape_varieties=&style=&characteristics=&closure=&capacity=&unit=&abv_min=&abv_max=" class="card h-100">
                    <div class="card-body text-center">
                        <div><img src="{{ url_for('static', filename='images/Meat.jpg') }}" class="img-fluid rounded" alt="Types of Wines" style="max-width: 100%; height: auto;"></div>
                        <h6 class="font-weight-bold mt-2">Meat</h6>
                    </div>
                </a>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <a href="/wines?search=&sort=&price_min=&price_max=&pairing=poultry&country=&type=&grape=&vintage=&region=&secondary_grape_varieties=&style=&characteristics=&closure=&capacity=&unit=&abv_min=&abv_max=" class="card h-100">
                    <div class="card-body text-center">
                        <div><img src="{{ url_for('static', filename='images/Poultry.jpg') }}" class="img-fluid rounded" alt="Types of Wines" style="max-width: 100%; height: auto;"></div>
                        <h6 class="font-weight-bold mt-2">Poultry</h6>
                    </div>
                </a>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <a href="/wines?search=&sort=&price_min=&price_max=&pairing=cheese&country=&type=&grape=&vintage=&region=&secondary_grape_varieties=&style=&characteristics=&closure=&capacity=&unit=&abv_min=&abv_max=" class="card h-100">
                    <div class="card-body text-center">
                        <div><img src="{{ url_for('static', filename='images/Cheese.jpg') }}" class="img-fluid rounded" alt="Types of Wines" style="max-width: 100%; height: auto;"></div>
                        <h6 class="font-weight-bold mt-2">Cheese</h6>
                    </div>
                </a>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <a href="/wines?search=&sort=&price_min=&price_max=&pairing=fish&country=&type=&grape=&vintage=&region=&secondary_grape_varieties=&style=&characteristics=&closure=&capacity=&unit=&abv_min=&abv_max=" class="card h-100">
                    <div class="card-body text-center">
                        <div><img src="{{ url_for('static', filename='images/Fish.jpg') }}" class="img-fluid rounded" alt="Types of Wines" style="max-width: 100%; height: auto;"></div>
                        <h6 class="font-weight-bold mt-2">Fish</h6>
                    </div>
                </a>
            </div>
        </div>
        <!-- Card 5 -->
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <a href="/wines?search=&sort=&price_min=&price_max=&pairing=vegetables&country=&type=&grape=&vintage=&region=&secondary_grape_varieties=&style=&characteristics=&closure=&capacity=&unit=&abv_min=&abv_max=" class="card h-100">
                    <div class="card-body text-center">
                        <div><img src="{{ url_for('static', filename='images/Vegetables.jpg') }}" class="img-fluid rounded" alt="Types of Wines" style="max-width: 100%; height: auto;"></div>
                        <h6 class="font-weight-bold mt-2">Vegetables</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="text-center"><h5>Wines of the day</h5></div>
<div class="row justify-content-center">
    {% for wine in random_wines %}
    <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
        <div class="card">
            <a href="wine/{{ wine.id }}" class="card h-100">
                <div class="image-container mt-4">
                    <img class="card-img-top" src="{{ wine.Image }}" alt="{{ wine.Title }}" style="width: 100%; height: auto; max-height: 220px; object-fit: contain; mix-blend-mode: multiply;">
                </div>
                <div class="card-body">
                    <h6 class="font-weight-bold">{{ wine.Title }}</h6>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
