{% extends "base.html" %}

{% block title %}Wines - GrapeGuide{% endblock %}

{% block content %}
<style>
    .container {
        display: flex;
    }

    .sidebar {
        width: 250px; /* Adjust the width of the sidebar */
        padding: 20px;
        background-color: #f8f9fa;
        position: fixed; /* Fixes the sidebar to the left */
        height: 100%; /* Make the sidebar full height */
        overflow-y: auto; /* Allows scrolling if the content is too long */
        padding-bottom: 100px; /* Temp fix so that I can see the button */
    }

    .content {
        margin-left: 250px; /* Add margin to the left to accommodate the sidebar */
        flex-grow: 1; /* Allow content to grow */
        padding: 20px; /* Add padding to the content */
    }

    .filter-title {
        font-size: 1.25rem;
        margin-bottom: 15px;
        font-weight: bold;
    }

    .card {
        border: none;
        border-radius: 15px;
        transition: transform 0.3s, box-shadow 0.3s;
        display: flex;
        flex-direction: column;
        height: 100%;
        text-decoration: none;
        color: inherit;
        background-color: #f8f9fa;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        color: #9d36add5;
    }

    .image-container {
        height: 100px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-img-top {
        object-fit: contain;
        width: auto;
        height: 100%;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        text-align: center;
    }

    .card-title {
        font-size: 1.2rem;
        margin: 0.5rem 0;
        color: #343a40;
        font-weight: normal;
    }

    .card-subtitle {
        font-size: 1rem;
    }

    .btn-primary {
        background-color: #9d36add5;
        border: none;
        border-radius: 5px;
    }

    /* Pagination styles */
    .pagination {
        margin-top: 20px;
    }
</style>

<div class="sidebar">
    <h5 class="filter-title">Filters</h5>
    <form>
        <!-- Keep basic filters outside of the advanced filters section -->
        <div class="form-group">
            <label for="country">Country</label>
            <select id="country" name="country" class="form-control">
                <option value="">All</option>
                {% for country in unique_countries %}
                    <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="region">Region</label>
            <select id="region" name="region" class="form-control">
                <option value="">All</option>
                {% for region in unique_regions %}
                    <option value="{{ region }}">{{ region }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="type">Type</label>
            <select id="type" name="type" class="form-control">
                <option value="">All</option>
                {% for type in unique_types %}
                    <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Price and ABV Sliders -->
        <div class="form-group">
            <label for="price_min">Price Range</label>
            <input type="number" id="price_min" name="price_min" class="form-control" placeholder="Min Price">
            <input type="number" id="price_max" name="price_max" class="form-control" placeholder="Max Price">
        </div>

        <div class="form-group">
            <label for="abv_min">ABV Range</label>
            <input type="number" id="abv_min" name="abv_min" class="form-control" placeholder="Min ABV">
            <input type="number" id="abv_max" name="abv_max" class="form-control" placeholder="Max ABV">
        </div>
        <!-- Advanced Filters Section -->
        <button type="button" class="btn btn-primary" onclick="toggleCollapse()">Advanced Filters ↕️ </button>
        <div id="collapsibleFilters" style="display: none">
            <div class="form-group">
                <label for="grape">Grape Variety</label>
                <select id="grape" name="grape" class="form-control">
                    <option value="">All</option>
                    {% for grape in unique_grapes %}
                        <option value="{{ grape }}">{{ grape }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="style">Style</label>
                <select id="style" name="style" class="form-control">
                    <option value="">All</option>
                    {% for style in unique_styles %}
                        <option value="{{ style }}">{{ style }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="vintage">Vintage</label>
                <select id="vintage" name="vintage" class="form-control">
                    <option value="">All</option>
                    {% for vintage in unique_vintages %}
                        <option value="{{ vintage }}">{{ vintage }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="closure">Closure</label>
                <select id="closure" name="closure" class="form-control">
                    <option value="">All</option>
                    {% for closure in unique_closures %}
                        <option value="{{ closure }}">{{ closure }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="capacity">Capacity</label>
                <select id="capacity" name="capacity" class="form-control">
                    <option value="">All</option>
                    {% for capacity in unique_capacities %}
                        <option value="{{ capacity }}">{{ capacity }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="secondary_grape_varieties">Secondary Grape Varieties</label>
                <select id="secondary_grape_varieties" name="secondary_grape_varieties" class="form-control">
                    <option value="">All</option>
                    {% for grape in unique_secondary_grapes %}
                        <option value="{{ grape }}">{{ grape }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="unit">Unit</label>
                <select id="unit" name="unit" class="form-control">
                    <option value="">All</option>
                    {% for unit in unique_units %}
                        <option value="{{ unit }}">{{ unit }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="characteristics">Characteristics</label>
                <select id="characteristics" name="characteristics" class="form-control">
                    <option value="">All</option>
                    {% for characteristic in unique_characteristics %}
                        <option value="{{ characteristic }}">{{ characteristic }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="per_bottle_case_each">Per Bottle/Case/Each</label>
                <select id="per_bottle_case_each" name="per_bottle_case_each" class="form-control">
                    <option value="">All</option>
                    {% for unit in unique_per_bottle_case_each %}
                        <option value="{{ unit }}">{{ unit }}</option>
                    {% endfor %}
                </select>
            </div>
        </div> 
        <br> <br> <!-- Temp fix, shouldn't be using <br> -->
        <button type="submit" class="btn btn-primary">Apply Filters</button>
    </form>
</div>

<script>
    // JavaScript to toggle the visibility of the advanced filters section
    function toggleCollapse() {
        var content = document.getElementById('collapsibleFilters');
        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block"; // Show content
        } else {
            content.style.display = "none"; // Hide content
        }
    }
</script>

<div class="content">
    <h1 class="mb-4 text-center">Our Wines</h1>
    <div class="row">
        {% for wine in data %}
        <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
            <a href="{{ url_for('wine_detail', wine_id=wine.id) }}" class="card h-100" style="text-decoration: none;">
                <div class="image-container mt-4">
                    <img class="card-img-top" src="https://static.gall.nl/images/IMG_1760190_500.png?rev=1.3" alt="{{ wine.Title }}">
                </div>
                <div class="card-body">
                    <h6 class=" font-weight-bold">{{ wine.Title }}</h6>
                    <div class="d-flex align-items-center justify-content-between w-100">
                        <div class="text-center" style="flex: 0 0 50px;">
                            <img src="https://flagcdn.com/w320/{{ wine.CountryCode | lower }}.png" alt="{{ wine.Country }}" style="width: 40px; height: 26px; border-radius: 10%;">
                        </div>
                        <div class="text-center" style="flex-grow: 1;">
                            <p class="card-subtitle text-muted" style="font-size: 14px; margin-bottom: 0;">{{ wine.Country }}, {{ wine.Region }}</p>
                        </div>
                        <div class="text-center" style="flex: 0 0 50px;">
                            <h6 class="card-subtitle text-muted">${{ wine.Price }}</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <!-- Pagination Controls -->
    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% for page in page_numbers %}
                {% if page == '...' %}
                    <li class="page-item"><span class="page-link">{{ page }}</span></li>
                {% else %}
                    <li class="page-item {% if page == this_page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('wines', page=page) }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>

{% endblock %}
